html {
  /*font-family: "Roboto", sans-serif;*/
  font-family: 'Comfortaa', cursive;
  font-size: 16px;
}

h2  {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

h3  {
  font-size: 2rem;
  font-weight: bold;
  margin: 1rem 0 1rem 0;
}

.innerRow h3  {
  margin: 0;
}

h4  {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 2rem 0 1rem 0;
}

h5  {
  font-size: 1.2rem;
  font-weight: bold;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 4rem;
}

a {
  color: #0090e3;
}

a:hover {
  color: #f60;
}

/* Header section */

.header {
  background-color: #f60;
  border-bottom: 1px solid white;
  height: 4rem;
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 1;
  top: 0rem;
  width: 100%;
}

.header .content  {
  justify-content: space-between;
  padding: 0 1.5rem
}

.content  {
  display: flex;
  flex-direction: row;
  width: 1028px;

}

.logoArea {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /*height: 2rem;*/
}

.companyName  {
  font-size: 1rem;
}

.companyName span:nth-child(1) {
  font-weight: bold;
}

.companyName span:nth-child(2) {
  color: white;
}

.linkArea {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.linkArea a {
  font-weight: bold;
  color: white;
}

.linkArea a:hover {
  font-weight: bold;
  color: #0090e3;
}

.linkArea ul {
  display: flex;
  flex-direction: row;
}

.linkArea ul li {
  display: flex;
  margin-left: 1rem;
}



@media only screen and (min-width: 415px) {
  .menuMobile  {
    display: none;
  }
}

@media only screen and (max-width: 414px) {
  .logoArea,
  .linkArea  {
    display: none;
  }

  .menuMobile {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .menuMobile ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}


/*Mid section*/

.midAndFooter {
  position: relative;
  /*top: 4rem;*/
}

.mid  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row  {
  width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
}

.row .content {
  background-color: white;
  display: flex;
  flex-direction: row;
  padding: 2rem 0;
  justify-content: space-between;
}

.secondBlock  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  margin: 0 1.5rem 0 0;
}

.btn {
  width: 10rem;
  background-color: #0090e3;
  margin-top: 1rem;
  text-align: center;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #0090e3c4;
  font-weight: bold;
  color: white;
  font-size: 1.5rem;
}

.btn:hover {
  background-color: #0090e3c4;
  cursor: pointer;
}

.information .secondBlock,
.thesis .secondBlock {
  justify-content: flex-start;
  margin: 0 1.5rem 0 0;
}

.information .content,
.thesis .content {
  background-color: #ebebeb;
}

.firstBlock {
  width: 60%;
  margin: 0 1.5rem;
  display: flex;
  flex-direction: column;
}

.firstBlock img {
  width: 100%;
}

.quoteOwner {
  margin-top: 1rem;
  font-size: 0.7rem;
}

.agendaItem {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  background-color: white;
  margin: 0 0 1rem 0;
}

.agendaItem:nth-last-child(1) {
  margin: 0;
}

.agendaImage  {
  width: 35%
}

.agendaItem img {
  width: 100%;
}

.agendaItem .text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 1rem;
  width: 65%;
}

.agendaItem a {
  color: #0090e3;
  font-weight: bold;
  text-decoration: none;
}

.thesis .head,
.startLearning .head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 2rem 0 2rem 0;
}

.column {
  flex-direction: column !important;
}

.content.column {
  padding: 0 0 2rem 0;
}

.innerRow {
  display: flex;
  flex-direction: row;
}

.courses  {
  padding: 0 4.5rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

.course {
  width: 32%;
  display: flex;
  flex-direction: column;
  background-color: #0090e3;
  margin: 0 0 1rem 0;
}

.course:hover {
  background-color: #0090e3c4;
}

.courseImage img  {
  width: 100%
}

.course .text {
  padding: 0 1rem 1rem 1rem;
  color: white;
}

.course .text p:nth-child(4) {
  color: #cce9f9;
}

.course .text h5 {
  margin: 1rem 0 1rem 0;
}

@media only screen and (max-width: 414px) {
  .row .content  {
    flex-direction: column;
    padding: 0
  }

  .firstBlock {
    width: 100%;
    margin: 0;
  }

  .secondBlock  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 2rem 1rem;
    box-sizing: border-box;
  }

  .information .firstBlock  {
    display: none;
  }

  .information .secondBlock  {
    padding: 0;
  }

  .agendaItem {
    flex-direction: column;
    background-color: #ebebeb;
  }

  .agendaItem .text{
    width: auto;
    padding: 1rem 1rem 1rem 1rem;
    margin: 0
  }

  .agendaImage  {
    width: 100%
  }

  .agendaImage .desktop {
    display: none;
  }

  .thesis .firstBlock .text,
  .thesis .secondBlock,
  .courseImage,
  .course .text p,
  .course .text br {
    display: none;
  }

  .course{
    width: 100%;
  }

  .course .text {
    padding: 0 0 0 1rem;
  }

  .courses  {
    padding: 0 1rem 0 1rem;
  }

  .btn  {
    width: 100%;
    font-size: 1.5rem;
    color: white;
  }

}

@media only screen and (min-width: 415px) {
  .agendaImage .mobile {
    display: none;
  }
}


/*Footer section*/

footer .row {
  background-color: #cce9f9;
  border-top: 1px solid white;
}

footer .row .content  {
  padding-top: 1rem;
  font-size: 0.8rem;
  background-color: #cce9f9;
}

.rights {
  margin: 0 0 0 1.5rem;
}

.footerLinks  {
  margin: 0 1.5rem 0 1.5rem;
}

@media only screen and (max-width: 415px) {
  .footerLinks,
  .rights,
  .social {
    margin: 0 0 1rem 0;
  }

  footer .row .content {
    align-items: center;
  }
}
